<app-navbar></app-navbar>

<div class="body">
  <div class="container">

    <br>
    <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/tCpizIrdqO4?si=DQzKon0M5_05RLyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <br>

    <div class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/yUPPfqnQ4EA?si=3faMJcK0H1nCtnJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

  </div>

  <app-footer></app-footer>
</div>