<app-navbar></app-navbar>

<div class="body">

  <section class="support-section">

    <div class="support-content">

      <h2>Videos</h2>

      <p>Selected performances & recordings</p>

      <!-- VIDEO 1 -->
      <div class="stream">
        <iframe
          src="https://www.youtube.com/embed/tCpizIrdqO4?si=DQzKon0M5_05RLyc"
          title="NEØRAVE Video 1"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>

      <!-- VIDEO 2 -->
      <div class="stream">
        <iframe
          src="https://www.youtube.com/embed/yUPPfqnQ4EA?si=3faMJcK0H1nCtnJM"
          title="NEØRAVE Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>

    </div>

  </section>

</div>

<app-footer></app-footer>