<app-navbar></app-navbar>

<div class="body">

  <section class="support-section">

    <div class="support-content">


      <div class="stream">

        <iframe
          src="https://www.youtube.com/embed/RaXnnDsN27E?si=axy4ioy2nyf4bTT7"
          title="NEØRAVE Stream"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>

      </div>

    </div>

  </section>

</div>

<app-footer></app-footer>