<app-navbar></app-navbar>

<div class="body">
  <div class="container">

    <section class="support-section">

  <div class="support-content">

    <h2>Support NEØRAVE</h2>

    <p>
      Every contribution helps fund new releases,
      mixing, mastering, visual content and future
      Hard Techno productions.
    </p>

    <a
      href="https://ko-fi.com/neorave"
      target="_blank"
      class="support-btn"
    >
      Support NEØRAVE
    </a>

  </div>

</section>

  </div>

  <app-footer></app-footer>
</div>