<app-navbar></app-navbar>

<div class="body">

  <section class="support-section">

    <div class="support-content">

      <h2>Dates</h2>

      <p>Upcoming & past performances</p>

      <!-- GLAM -->
      <div class="event">
        <span class="date">19 JUN 2026</span>
        <span class="name">GLAM</span>
        <a href="https://www.instagram.com/reel/DZJS6XPsjho/?igsh=MTl4ZzE4YXRtbmRxYQ=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">23 DIC 2025</span>
        <span class="name">PRIVATE R4VE</span>
        <a href="https://www.youtube.com/channel/UCqSI-6MtC-06egA0mEpuSCA"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">17 JUN 2025</span>
        <span class="name">FREE R4VE</span>
        <a href="https://www.youtube.com/channel/UCqSI-6MtC-06egA0mEpuSCA"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">30 MAR 2024</span>
        <span class="name">EDEN2</span>
        <a href="https://www.instagram.com/reel/C4iyuW9Oc9R/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">19 ENE 2024</span>
        <span class="name">EDEN DORADO</span>
        <a href="https://www.instagram.com/p/C2TrbHONUb0/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">29 DIC 2023</span>
        <span class="name">BOILER ROOM</span>
        <a href="https://www.instagram.com/p/C1ucY5JuaG4/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">09 DIC 2023</span>
        <span class="name">DANUBIO</span>
        <a href="https://www.instagram.com/p/C0p3XxCtcmS/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">13 NOV 2023</span>
        <span class="name">KAFIR RAVE</span>
        <a href="https://www.instagram.com/p/CzmxDlGNk0R/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">30 SEP 2023</span>
        <span class="name">EROS</span>
        <a href="https://www.instagram.com/p/CxOn0-oJLbD/"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">20 AUG 2023</span>
        <span class="name">DIMENSION</span>
        <a href="https://www.instagram.com/p/Cx39l5KpBV2/"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">19 JUL 2023</span>
        <span class="name">CANDY FLIP</span>
        <a href="https://www.instagram.com/p/CxGbJhpuuky/"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">17 JUN 2023</span>
        <span class="name">IGCOGNITO RAVE</span>
        <a href="https://www.instagram.com/p/CvVlYznJfhB/"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">25 FEB 2023</span>
        <span class="name">DORTMUND</span>
        <a href="https://www.instagram.com/p/Cu952nUO2W9/"
           target="_blank">TICKETS INFO</a>
      </div>

      <div class="event">
        <span class="date">10 DEC 2022</span>
        <span class="name">BERLIN</span>
        <a href="https://www.instagram.com/reel/ClwTbXYj-zm/"
           target="_blank">TICKETS INFO</a>
      </div>

    </div>

  </section>

</div>

<app-footer></app-footer>