.profile{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.body{
  background-color: black;
  color: white;
}

/* SOUNDCLOUD */

.soundcloud-container{
  width: min(90vw, 900px);
  margin: 0 auto;
}

.soundcloud-container iframe{
  width: 100%;
  height: 500px;
  border: none;
}

/* MÓVIL */

@media (max-width: 768px){

  .soundcloud-container{
    width: 95%;
  }

  .soundcloud-container iframe{
    height: 650px;
  }

}