<app-navbar></app-navbar>

<div class="body">

  <section class="support-section">

    <div class="support-content">

      <div class="music">

        <iframe
          scrolling="no"
          frameborder="no"
          allow="autoplay; encrypted-media"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/soundcloud%253Aplaylists%253A2202833966&color=%231c2c34&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true">
        </iframe>

      </div>

    </div>

  </section>

</div>

<app-footer></app-footer>